@{
    ViewData["Title"] = "View Sun Page";
}

<div class="container">
    <h1>Sun Location</h1>
    <p>Here is the image of the sun location:</p>

    <img src="@ViewBag.SunImagePath" class="img-fluid" alt="Sun time image">
</div>
